
body {
    color:red;
}
#page-footer {
    height: 100px;
    background-color: blue;
}
#page-login-index{
    #region-main-box{ 
        background-image: url("/theme/uvt/images/night.jpg");
    }
    .col-xl-3{ 
        .card{
            border-radius: 20px;
            form{
            .row{
                
                    justify-content: center;
                    align-items: baseline;
                }
            }
        }
        }
    }