{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    Page footer.
}}
<footer id="page-footer" class="py-3">
  <div class="container">
    <div class="row" >
      <div class="col-sm-4" style="height:auto;">
        <div style="margin-left:20px;margin-top:20px;">
          Adresa:<br>
          Bulevardul Vasile Pârvan nr. 4,<br>
          Timișoara 300223, Timiș, România<br>
          E-mail:support@e-uvt.ro 
        </div>
      </div>
    <div class="col-sm-4 text-center style="background-color: #002547 !important;">
      <a href="https://www.uvt.ro/ro/">
      <div class="text-center" style="display:flex;flex-direction: column;margin-top:20px;">
        <img class="img-responsive" src="//elearning.e-uvt.ro/pluginfile.php/1/theme_essential/footerlogoimg/1548403617/logo-uvt-205-x140.png" alt="UVT Logo" height="auto" width="64">
      </a>
     </div>
      <p>©2019 Universitatea de Vest din Timișoara</p>
    </div>
    <div class="col-sm-4" style="text-align:right;">
    <div style="margin-right:20px;margin-top:20px;">
      Retele sociale
      <br>
      <div class="btn-group" role="group" aria-label="Retele sociale">
        <a class="btn btn-outline-primary" role="button" href="https://www.facebook.com/uvtromania">Facebook</a>
        <a class="btn btn-outline-info" role="button" href="https://twitter.com/uvtromania">Twitter</a>
        <a class="btn btn-outline-primary" role="button" href="https://www.linkedin.com/school/west-university-of-timisoara/">LinkedIn</a>
      </div>
 
      <p style="margin:0px;">Dezvoltat și susținut de</p>
    
      <a style="text-decoration: none;" href="https://www.elearningsoftware.ro/ro/"><p>eLearing&Software</p></a>

    </div>
  </div>
</div>
    </div>
    <script src="{{config.wwwroot}}/theme/uvt/javascript/swiper.js"></script>
    <script src="{{config.wwwroot}}/theme/uvt/javascript/swiper.min.js"></script>
    <script src="{{config.wwwroot}}/theme/uvt/javascript/swiperinit.js"></script>

        {{{ output.standard_footer_html }}}
        {{{ output.standard_end_of_body_html }}}
</footer>