{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_boost/columns2

    Admin time setting template.

    Boost 2 column layout template.

    Context variables required for this template:
    * sitename - The name of the site
    * output - The core renderer for the page
    * bodyattributes - attributes for the body tag as a string of html attributes
    * sidepreblocks - HTML for the blocks
    * hasblocks - true if there are blocks on this page
    * navdraweropen - true if the nav drawer should be open on page load
    * regionmainsettingsmenu - HTML for the region main settings menu
    * hasregionmainsettingsmenu - There is a region main settings menu on this page.

    Example context (json):
    {
        "sitename": "Moodle",
        "output": {
            "doctype": "<!DOCTYPE html>",
            "page_title": "Test page",
            "favicon": "favicon.ico",
            "main_content": "<h1>Headings make html validators happier</h1>"
         },
        "bodyattributes":"",
        "sidepreblocks": "<h2>Blocks html goes here</h2>",
        "hasblocks":true,
        "navdraweropen":true,
        "regionmainsettingsmenu": "",
        "hasregionmainsettingsmenu": false
    }
}}
{{> theme_boost/head }}

<body {{{ bodyattributes }}}>

<div id="page-wrapper">

    {{{ output.standard_top_of_body_html }}}

    {{> theme_uvt/navbar }}

    <div id="page" class="container-fluid">
        {{{ output.full_header }}}


<link rel="stylesheet" href="{{config.wwwroot}}/theme/uvt/css/swiper.min.css">
<link rel="stylesheet" href="{{config.wwwroot}}/theme/uvt/css/swiper.css">
<div style="width:1280px !important;margin:auto !important">
  <div class="swiper-container mt-2">
    <div class="swiper-wrapper">
      <div class="swiper-slide"> <img src="{{config.wwwroot}}/theme/uvt/images/uvt.jpg" alt="download" style="width:100%;height:500px"></div>
      <div class="swiper-slide"> <img src="{{config.wwwroot}}/theme/uvt/images/uvt.jpg" alt="download" style="width:100%;height:500px"></div>
      <div class="swiper-slide"> <img src="{{config.wwwroot}}/theme/uvt/images/uvt.jpg" alt="download" style="width:100%;height:500px"></div>     
    </div> 
    
    <div class="swiper-pagination"></div> 
 
   <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</div>
 
<div class="d-flex my-5" style="color:white !important;max-width:1280px;margin:auto">

  <div class="col-md-3 col-sm-6 marketspot">
    <div> 
      <i class="fa fa-check-square-o" aria-hidden="true" style="font-size:40px"></i>
    </div>
    <div class="title" style="font-size:20px"> 
      <h3>Modern and vibrant design</h3>      
    </div>
    <div class="text"> 
      <p>
       Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
       </p> 
    </div>
  </div>

  <div class="col-md-3 col-sm-6 marketspot">
    <div> 
      <i class="fa fa-check-square-o" aria-hidden="true" style="font-size:40px"></i>
    </div>
    <div class="title" style="font-size:20px"> 
      <h3>Modern and vibrant design</h3>      
    </div>
    <div class="text"> 
      <p>
       Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
       </p> 
    </div>
  </div>

  <div class="col-md-3 col-sm-6 marketspot">
    <div> 
      <i class="fa fa-check-square-o" aria-hidden="true" style="font-size:40px"></i>
    </div>
    <div class="title" style="font-size:20px"> 
      <h3>Modern and vibrant design</h3>      
    </div>
    <div class="text"> 
      <p>
       Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
       </p> 
    </div>
  </div>

  <div class="col-md-3 col-sm-6 marketspot">
    <div> 
      <i class="fa fa-check-square-o" aria-hidden="true" style="font-size:40px"></i>
    </div>
    <div class="title" style="font-size:20px"> 
      <h3>Modern and vibrant design</h3>      
    </div>
    <div class="text"> 
      <p>
       Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
       </p> 
    </div>
  </div>

</div>

<div class="events" style="max-width:1600px;margin:auto">
  <div class="container-fluid">
    <div>
    <h6 style="color:white"> ALL ABOUT EVENT UPDATES</h6>
    <h2 style="color:white">Upcoming events</h2>
    </div>
    <div class="row p-0 justify-content-center">

      <div class ="col-md-5 row p-0 event m-2">
        <div class ="col-md-6 p-0" style="position:relative">
          <img src= "http://klassroom.themecb.com/theme/image.php/klassroom/theme/1542977829/events/01" style="height: auto;
    width: 100%;">
          <div class="eventdate"><strong>31</strong> DEC 2019</div>
        </div>
        <div class ="col-md-6" style="background:white">
          <h3 class="title mt-2">Art Open Day</h3>
          <div class="location">Paris, France</div>
          <p class="description">There are many variations of passages of Lorem Ipsum available…</p>
        </div>
      </div>

      <div class ="col-md-5 row p-0 event m-2">
        <div class ="col-md-6 p-0" style="position:relative">
          <img src= "http://klassroom.themecb.com/theme/image.php/klassroom/theme/1542977829/events/01" style="height: auto;
    width: 100%;">
          <div class="eventdate"><strong>31</strong> DEC 2019</div>
        </div>
        <div class ="col-md-6" style="background:white">
          <h3 class="title mt-2">Art Open Day</h3>
          <div class="location">Paris, France</div>
          <p class="description">There are many variations of passages of Lorem Ipsum available…</p>
        </div>
      </div>

      <div class ="col-md-5 row p-0 event m-2">
        <div class ="col-md-6 p-0" style="position:relative">
          <img src= "http://klassroom.themecb.com/theme/image.php/klassroom/theme/1542977829/events/01" style="height: auto;
    width: 100%;">
          <div class="eventdate"><strong>31</strong> DEC 2019</div>
        </div>
        <div class ="col-md-6" style="background:white">
          <h3 class="title mt-2">Art Open Day</h3>
          <div class="location">Paris, France</div>
          <p class="description">There are many variations of passages of Lorem Ipsum available…</p>
        </div>
      </div>

      <div class ="col-md-5 row p-0 event m-2">
        <div class ="col-md-6 p-0" style="position:relative">
          <img src= "http://klassroom.themecb.com/theme/image.php/klassroom/theme/1542977829/events/01" style="height: auto;
    width: 100%;">
          <div class="eventdate"><strong>31</strong> DEC 2019</div>
        </div>
        <div class ="col-md-6" style="background:white">
          <h3 class="title mt-2">Art Open Day</h3>
          <div class="location">Paris, France</div>
          <p class="description">There are many variations of passages of Lorem Ipsum available…</p>
        </div>
      </div>
      
    </div>
       
  </div>
</div>
    <div class="container statistics">
      <div class="row">
      <div class="col-sm-3"> 
        <div class="card">
        <div class="card" style="width:auto;background-color:#626ed4;">
          <div class="card-body">
          <div class="row">
          <div class="col-sm-6 text-right">
          <i class="fa fa-users" aria-hidden="true"></i>
          </div>
          <div class="col-sm-6">
          Users<br>
          999
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3"> 
        <div class="card">
        <div class="card" style="width:auto;background-color:#626ed4;">
          <div class="card-body">
          <div class="row">
          <div class="col-sm-6 text-right">
          <i class="fa fa-users" aria-hidden="true"></i>
          </div>
          <div class="col-sm-6">
          Users<br>
          999
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3"> 
        <div class="card">
        <div class="card" style="width:auto;background-color:#626ed4;">
          <div class="card-body">
          <div class="row">
          <div class="col-sm-6 text-right">
          <i class="fa fa-users" aria-hidden="true"></i>
          </div>
          <div class="col-sm-6">
          Users<br>
          999
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3"> 
        <div class="card">
        <div class="card" style="width:auto;background-color:#626ed4;">
          <div class="card-body">
          <div class="row">
          <div class="col-sm-6 text-right">
          <i class="fa fa-users" aria-hidden="true"></i>
          </div>
          <div class="col-sm-6">
          Users<br>
          999
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
      </div>
    </div>

        <div id="page-content" class="row pb-3">
            <div id="region-main-box" class="col-12">
                {{#hasregionmainsettingsmenu}}
                <div id="region-main-settings-menu" class="d-print-none {{#hasblocks}}has-blocks{{/hasblocks}}">
                    <div> {{{ output.region_main_settings_menu }}} </div>
                </div>
                {{/hasregionmainsettingsmenu}}
                <section id="region-main" {{#hasblocks}}class="has-blocks mb-3"{{/hasblocks}}>

                    {{#hasregionmainsettingsmenu}}
                        <div class="region_main_settings_menu_proxy"></div>
                    {{/hasregionmainsettingsmenu}}
                    {{{ output.course_content_header }}}
                    {{{ output.main_content }}}
                    {{{ output.activity_navigation }}}
                    {{{ output.course_content_footer }}}

                </section>
                {{#hasblocks}}
                <section data-region="blocks-column" class="d-print-none">
                    {{{ sidepreblocks }}}
                </section>
                {{/hasblocks}}
            </div>
        </div>
    </div>
    {{{ output.standard_after_main_region_html }}}
    {{> theme_boost/nav-drawer }}
    {{> theme_uvt/footer }}
</div>

</body>
</html>
{{#js}}
require(['theme_boost/loader']);
require(['theme_boost/drawer'], function(mod) {
    mod.init();
});
{{/js}}
